body{
    direction: rtl !important;
    text-align: right !important;
}
a:hover{
    text-decoration: none;
}
.dropdown-item{
    text-align: right !important;
}
.app-sidebar, .off-canvas-sidebar{
    right: 0 !important;
    left: inherit !important;
}
.app-sidebar .logo-img, .off-canvas-sidebar .logo-img {
    margin: 0px !important;
}
.float-left {
    float: right !important;
}
.sidebar-header a.nav-toggle {
    left: 18px !important;
    right: inherit !important;
}
.customizer {
    width: 400px;
    left: -400px;
    right: inherit;
}
.customizer .customizer-toggle {
    left: inherit;
    right: -54px;
    border-radius: 0 15px 15px 0;
}
.customizer.open {
    left: 0;
    right: inherit;
}
.app-sidebar .navigation, .off-canvas-sidebar .navigation {
    padding-right: 0;
}
.app-sidebar .navigation i, .off-canvas-sidebar .navigation i {
    float: right;
    margin: 0;
}
.app-sidebar .navigation li.has-sub > a:after, .off-canvas-sidebar .navigation li.has-sub > a:after {
    left: 0.75rem;
    right: inherit;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.app-sidebar .navigation li.open > a:after, .off-canvas-sidebar .navigation li.open > a:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.wrapper.nav-collapsed .main-panel .main-content {
    padding-right: 60px;
    padding-left: 0;
}
@media (min-width: 992px){
    .main-panel .main-content, footer.footer {
        padding-right: 250px; 
        padding-left: 0; 
    }   
}
.app-sidebar .navigation li a span.badge, .off-canvas-sidebar .navigation li a span.badge{
    right: inherit;
    left: 3rem;
}
.dropdown-menu-right {
    right: auto;
    left: 0;
}
.navbar .show > .dropdown-menu .arrow_box_right:after {
    left: 1.5rem;
    right: inherit;
}
.langimg {
    width: 30px;
    margin-right: 0;
    margin-left: 5px;
}
.card .card-header .card-title-wrap {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
    margin-right: -1.5rem;
    padding-right: 1.5rem;
    border-right: 3px solid #E9ECEF;
}
.custom-file-label::after {
    left: 0;
    right: auto;
}
@media (min-width: 576px){
    .mr-sm-2, .mx-sm-2 {
        margin-right: 0 !important;
        margin-left: 0.5rem !important;
    }
}
.customizer .customizer-close {
    right: inherit;
    left: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: inherit;
    left: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    text-align: right;
}








